// optional colors
$MAIN-color: #796465;
$brown-lite: #a89c98;
$little-black: #484848;
$CTA-color: #4C6A68;
$CTA-color-darker: #647978;
$cookie-box-bg: #796465c9;



// base colors
$black: #000000;
$white: #ffffff;



// main section
$bg-white: #ffffff;
$black-litle: #0000009e;
$bg-faq: #edede9;
$bg-prices-table-light: #edede9;
$bg-prices-table-strong: #e3e1df;



// background colors
$bg-rings-and-nav: #edede9;
$bg-aboutus: #d9d3cd;
$bg-offer: #d0c8c4;
$bg-prices: #d9d3cd;
$bg-blog: #d0c8c4;
$bg-contact: #d9d3cd;



// footer
$footer-bg: #83705e;
$footer-bg-light: #a39283;
$footer-black: #0c0c0c;